$bright-blue: hsl(220, 98%, 61%);
$white-clr: white;
$v-dark-blue: hsl(235, 21%, 11%);
/* ----- Light Theme Colors ----- */
$v-light-gray: hsl(0, 0%, 98%);
$lm-v-light-grayish-blue: hsl(236, 33%, 92%);
$lm-dark-grayish-blue: hsl(236, 9%, 61%);
$lm-v-dark-grayish-blue: hsl(235, 19%, 35%);
/* ----- Dark Theme Colors ----- */
$dm-light-grayish-blue: hsl(234, 39%, 85%);
$dm-light-grayish-blue-hov: hsl(236, 33%, 92%);
$dm-v-dark-desaturated-blue: hsl(235, 24%, 19%);
$dm-Dark-grayish-blue: hsl(234, 11%, 52%);
$dm-v-dark-grayish-blue: hsl(233, 14%, 35%);
$dm-v-dark-grayish-blue-border: hsl(237, 14%, 26%);
